
h1 {
  text-align: center;
  color: royalblue;
  font-size: 50px;
  border: solid royalblue;
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
* {
  background: Black;
}

img{
  transform: rotate(90deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 35%;
  width: 35%;
}

.list {
  color: royalblue;
  font-size: 20px;
  position: relative;
  bottom: -125px;
  text-align: center;
  border:solid royalblue;
  border-radius: 20px;
  margin-left: 35%;
  margin-right: 35%;

}

#favMoviesTitle {
  padding-bottom: 10px;
}
